<video autoplay muted loop id="myVideo">
  <source src="./assets/images/Cyclist_riding_next_to_guard_rail.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

<!-- Emilinate footer and add the funtionality off adding picture not sure if a shuold doit in here -->
   <!-- to compare whit the old code -->
   <div class="container">

      <div class="col-md-6">
      <div id="logbox">
     <form (ngSubmit)= "signThemUp()">
          <p *ngIf="errorMessage" class="error">
            {{ errorMessage }}
          </p>
          <h1>create an account</h1>
          <input [(ngModel)]="signUpInfo.username"  for="username-input" name="usernameValue" id = "username-input"  type="text" placeholder="What's your username?" pattern="^[\w]{3,16}$" autofocus="autofocus" required="required" class="input pass"/>
          <input [(ngModel)]="signUpInfo.password"  for="password-input" name="passwordValue" type="password" placeholder="Choose a password" required="required" class="input pass"/>
          <input type="submit" value="Sign me up!" class="inputButton"/>

        </form>
      </div>
     </div>
      <!--col-md-6-->

     <div class="col-md-6">
      <div id="logbox">
        <form (ngSubmit)= "doLogin()">
          <h1>account login</h1>
          <p *ngIf = "loginErrorMessage" class = "error">
            {{loginErrorMessage}}
          </p>
          <input [(ngModel)]="loginInfo.username"  id = "login-username-input" for="login-username-input "  name="username" type="text" placeholder="peter sagan" class="input pass"/>
          <input [(ngModel)]= "loginInfo.password" id = "login-pass-input"  name="loginPassword" type="password" placeholder="enter your password" required="required" class="input pass"/>
          <input type="submit" value="log me in!" class="inputButton"/>
        
        </form>
      </div>
      </div>
    </div>
