<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        (click)="toggleState()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"></a>
        </div>
         <div class="collapse navbar-collapse"
              [ngClass]="{ 'in': isIn }">
            <ul class="nav navbar-nav">
                <!-- <li><a[routerLink]="['/blog']">blog</a></li> -->
                <li><a [routerLink]="['/rides']">home</a></li>
                <li><a (click)="logMeOutPls()"> Log Out </a>
                <p *ngIf="logoutError" class="error">
                  {{ logoutError }}
                </p>&nbsp;&nbsp;</li>
            </ul>
        </div>
    </div>
</nav>
