agm-map {
  display: block;
  margin-top: auto;
    margin-left: auto;
    margin-right: auto;
   height:500px;
   width: 500px
}


.infoRow{
background-color: white;
text-align:center;
 border: solid black;
 border-radius: 10px

}

.mapCol{


}
.buttonSet{

    }

.infoCol{
  float: left;
  margin-top: 15%;
}

.editRides{
}

.joinRow{

}

.addCol{
  background-color: white;
  text-align:center;
   border: solid black;
   border-radius: 10px
}
 .participantcol{
 }

 .CommentRow{

 }
 .addCommentCol{

 }
 .commetForm{
 }
 .commentCol{

 }
 footer{

 }
