
      <!-- <div *ngIf = "currentUser._id === ride.theRide.user?._id"> -->

.<div class="container">
  <div *ngIf="ride">
  .<div class="row infoRow ">
    <div class="col-lg-6 col-sm-12 mapCol ">

      <agm-map   [latitude]="lat" [longitude]="lng"(mapClick)= "pointRide($event)">
        <agm-marker [latitude]="lat" [longitude]="lng" ></agm-marker>
        <agm-marker [latitude]="lat1" [longitude]="lng1" ></agm-marker>
      </agm-map>
          <br>

      </div >
        <div class="col-lg-6 col-sm-12 ">
         <h2> {{ ride.theRide.name }}</h2>
         <br>
         <br>
      <h3>distace :{{ride.theRide.distance}}</h3>
      <br>
      <p>  date: {{ride.theRide.date|date:'dd/MM/yyyy'}} </p>
      <br>
      <p> category: {{ride.theRide.category}}</p>

      <br>
        <div class="buttonSet">

    <button (click)="deleteRide()" class ="btn btn-danger" role= "button"> Delete </button>
    <button *ngIf="!isShowingForm" (click)="showRideForm()" class = "btn btn-info">modify Ride  </button>
      <!-- <a [routerLink]="['/rides']"> </a> -->
      <button type="button" name="button"  [routerLink]="['/rides']"  class ="btn btn-warning"> Back to list</button>
        </div>
    </div>
  </div>
</div>


<!-- edit form area -->
<div class="row">
  <div class="editRides ">
    <div *ngIf = "isShowingForm">
      <br>
        <form (ngSubmit) ="editRide()">
          <label for="ride-name-input"> Ride Name </label>
          <input type = "text" id="ride-name-input"
            placeholder=" " [(ngModel)] = "rideInfo.updateName" name = "updateName">
            <br>
          <label for="ride-distance-input"> miles  </label>
          <input type = "text" id="ride-distance-input" placeholder=" 100"
          [(ngModel)] = "rideInfo.rupdateDistance" name = "updateDistance">
            <br>
          <label for="ride-category-input"> category  </label>
          <input type = "text" id="ride-category-input" placeholder=" A B or C"
           [(ngModel)] = "rideInfo.updateCategory" name = "updateCategory">
            <br>
          <label for="ride-date-input">Enter new date of the ride</label>
          <input id="ride-date-input" type="date"
          [(ngModel)] = "rideInfo.rupdateDate" name = "updateDate">
            <br>
            <button class = "btn"> Save  </button>
        </form>
      </div>
    </div>
  </div>



  <!-- edit form area finish -->
  .<div class="row joinRow">
    <div class="col-lg-3 col-sm-12 addCol">
<h4>Click here to join this ride</h4>
      <button class="btn btn-primary" click="joinRide()" >join</button>
    </div>
    <div class="col-lg-8 col-sm-12 participantcol bg-success">
      <h4>participants</h4>
       <li>{{ride.theRide.participant}}</li>
    </div>
  </div>

  <!-- .<div class="row CommentRow"> -->
      <!-- .<div class="col-lg-6 col-sm-12 addCommentCol "> -->
        <!-- <button = "btn btn-info">  create a comment  </button> -->
      <!-- </div> -->
  <!-- </div> -->
      <!-- create comment form -->
      <div class="row ">
          .<div class="col-lg-8 col-sm-12  col-center ">
        <div class="commetForm ">
          <!-- <div *ngIf = "isShowingForm"> -->
            <p *ngIf = "saveError" class = "error">
              {{saveError}}
            </p>
            <!-- for some reason the compailer keeps asking for a paremeter in order to excute the ng summit if your want it to work locally uncomment the comment below -->
          <!-- <form (ngSubmit) = "saveNewComment()"> -->
            <label for="comment-content-input"> </label>
            <textarea rows="8" cols="80" type = "text" id="comment-content-input"
                       placeholder="comment this ride" [(ngModel)] = "commentInfo.commentContent" name = "commentContent">
            </textarea>
            <br>
              <button> Save comment </button>
          <!-- </form> -->
          <!-- </div> -->
        </div>
        <br>

        <ul  *ngFor="let oneComment of ride.theComment">
<div class="commentbox">
       {{oneComment.content}}
         </div>
       <hr>
     </ul>

      </div>
      <!-- create commet form -->

  </div>
  <footer>
    <a [routerLink]="['/rides']"> Back to list </a>
  </footer>

</div>
