agm-map {
  display: block;
  margin-top: auto;
    margin-left: auto;
    margin-right: auto;
   height:500px;
   width: 500px
}


.infoRow{

text-align:center;
 border: solid black;
 border-radius: 10px

}

.mapCol{


}
.buttonSet{

    }

.infoCol{
  margin-top: 15%;
}

.editRides{
}

.joinRow{

}

.addCol{
   text-align:center;
}
 .participantcol{
 }

 .CommentRow{

 }
 .addCommentCol{

 }
 .commetForm{
 }
 .commentCol{

 }
 footer{

 }
