
<a [routerLink]="['/rides']"> Back to list </a>
<div *ngIf="ride">
        <h2> {{ ride.theRide.name }}</h2>
        <h3>distace :{{ride.theRide.distance}}</h3>
        <p>  date: {{ride.theRide.date|date:'dd/MM/yyyy'}} </p>
        <!-- <h2>{{ride.user.userName}}</h2> -->
        <p> category: {{ride.theRide.category}}</p>
        <p> participant: {{ride.theRide.participant}}</p>
        <!-- <p>{{ride.user}}</p> -->

        <!-- *ngFor="let oneComment of commentArray"> -->
        <ul>comment
    <li *ngFor="let oneComment of ride.theComment">
     {{oneComment.content}}
      <br>
    </li>
    <!-- </li> -->
  </ul>


      </div>
      <!-- <div *ngIf = "currentUser._id === ride.user?._id"> -->

      <button (click)="deleteRide()"> Delete </button>



        <button *ngIf="!isShowingForm" (click)="showRideForm()">
          edit  Ride
        </button>
        <div *ngIf = "isShowingForm">
        <form (ngSubmit) = "editRide()">
        <label for="ride-name-input"> Ride Name </label>
        <input type = "text" id="ride-name-input"placeholder=" "
         [(ngModel)] = "rideInfo.rideName" name = "rideName">
        <br>
        <label for="ride-distance-input"> miles  </label>
        <input type = "text" id="ride-distance-input" placeholder=" 100"
        [(ngModel)] = "rideInfo.rideDistance" name = "rideDistance">
        <br>
        <label for="ride-category-input"> category  </label>
        <input type = "text" id="ride-category-input" placeholder=" A B or C"
         [(ngModel)] = "rideInfo.rideCategory" name = "rideCategory">
        <br>
        <label for="ride-date-input">Enter new date of the ride</label>
        <input id="ride-date-input" type="date"
        [(ngModel)] = "rideInfo.rideDate" name = "rideDate">
        <br>
          <button> Save  </button>
      </form>
      </div>
  <!-- </div> -->
      <!-- </div> -->
