<div style="text-align:center">


<header>
  <p> Hello, {{ currentUser.username }}. </p>

  <button (click)="logMeOutPls()"> Log Out </button>
  <p *ngIf="logoutError" class="error">
    {{ logoutError }}
  </p>

  <div>
     <label for="ride-name"> Search thing: </label>
     <input id="ride-name" placeholder="thing name"
             type="text" [(ngModel)]="pattern">
   </div>



   <!-- <h4> Stuff list </h4> -->

      <!-- <li *ngFor=" oneRide of rideArray | filter:'name':pattern; let i = index">
        {{ i+1 }}) {{ ride.name }}
      </li> -->
</header>


 <div *ngIf="currentUser">
   <h2> You are now logged in as {{ currentUser.username }}!! </h2>
 <!-- <pre> {{ user | json }} </pre> -->

 </div>

 <!-- <a [routerLink]="['profile']"> profile </a> -->
 <!-- <a [routerLink]="['rides', oneRide._id]"> View Details </a> -->
</div>
 <h3>ride list</h3>

 <p *ngIf="rideListError" class="error">
   {{ rideListError }}
 </p>

 <hr>
 <button *ngIf="!isShowingForm" (click)="showRideForm()">
   Add Ride
 </button>

 <div *ngIf = "isShowingForm">
   <h3>Create a New Ride</h3>

   <p *ngIf = "saveError" class = "error">
     {{saveError}}
   </p>

 <form (ngSubmit) = "saveNewRide()">
   <label for="ride-name-input"> Ride Name </label>
   <input type = "text" id="ride-name-input"
   placeholder=" tour de france" [(ngModel)] = "rideInfo.rideName" name = "rideName">
   <br>
   <label for="ride-distance-input"> miles  </label>
   <input type = "text" id="ride-distance-input" placeholder=" 100"
   [(ngModel)] = "rideInfo.rideDistance" name = "rideDistance">
   <br>
   <label for="ride-category-input"> category  </label>
   <input type = "text" id="ride-category-input" placeholder=" A B or C"
    [(ngModel)] = "rideInfo.rideCategory" name = "rideCategory">
   <br>
   <label for="ride-date-input">Enter  date of the ride</label>
   <input id="ride-date-input" type="date"
   [(ngModel)] = "rideInfo.rideDate" name = "rideDate">
  <br>
   <label for="ride-picture-input"> ride Picture (optional)</label>
    <input  id="ride-picture-input" type="file" name="ridePicture"
        ng2FileSelect [uploader]="myCoolUploader">
     <br>

     <button> Save Ride </button>
 </form>
 </div>

 <hr>

 <ul>
  <li *ngFor="let oneRide of rideArray| filter:'name':pattern">
    <h3> {{ oneRide.name }} </h3>
    <p>
    Owned by:
    <b *ngIf="oneRide.user?._id !== currentUser._id">
      {{ oneRide.user.username }}
    </b>

    <b *ngIf="oneRide.user?._id === currentUser._id">
      YOU
    </b>
  </p>
    <p>
      distance: {{ oneRide.distance}} miles
      <br>
      category : {{oneRide.category}}
      <br>
      date : {{oneRide.date|date:'dd/MM/yyyy'}}
    </p>
      <a [routerLink]="['profile', oneRide.user._id]"> profile </a>
      <br>
    <a [routerLink]="['rides', oneRide._id]"> View Details </a>


  </li>
</ul>
<!-- <div class="picture-wrap" >
<img *ngIf="ride.picture"
[src]="baseUrl + ride.picture">

<div *ngIf="!ride.picture" >
<img  src="/assets/images/kid-riding-bike.jpg"> -->
<!-- </div>
</div> -->
